<h1>Listing commnets</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Post</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @commnets.each do |commnet| %>
      <tr>
        <td><%= commnet.title %></td>
        <td><%= commnet.body %></td>
        <td><%= commnet.post_id %></td>
        <td><%= link_to 'Show', commnet %></td>
        <td><%= link_to 'Edit', edit_commnet_path(commnet) %></td>
        <td><%= link_to 'Destroy', commnet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commnet', new_commnet_path %>
