<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @commnet.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @commnet.body %>
</p>

<p>
  <strong>Post:</strong>
  <%= @commnet.post_id %>
</p>

<%= link_to 'Edit', edit_commnet_path(@commnet) %> |
<%= link_to 'Back', commnets_path %>
